.request{
    padding-bottom: 50px;
}
textarea{
    width: 100%;
    resize: vertical;
    border-radius: 5px;
    padding: 5px;
    min-height: 50px;
    max-height: 700px;
}
.input {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

#employee_form {
    width: 700px;
}
.id {
    width: 100px;
}
label {
    width: 80px;
    text-align: center;
}
.good {
    background-color: rgb(0, 106, 0);
}
.bad {
    background-color: rgb(160, 0, 0);
}
.info {
    visibility: hidden;
    position: absolute;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}